@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "DM Sans";
  background-color: #f4f7fe;
}

.poppins {
  font-family: "Poppins";
}

html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
